<!DOCTYPE html>
<html>
<head>
  <title>PDF</title>
  <style>
    table{
      border-collapse: collapse;
      margin: auto;
    }

    .verticalTableHeader {
      text-align:center;
      white-space:nowrap;
      transform-origin:50% 50%;
      transform: rotate(90deg);
    }
    .verticalTableHeader:before {
      content:'';
      padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
      display:inline-block;
      vertical-align:middle;
    }
  </style>
</head>
<body>
  <center><img src="log.png" width="120"></center>

  <table border="1">
    <tbody>
      <tr>
        <td colspan="2">
          &emsp;&emsp;&emsp;&emsp;&emsp;
        </td>
        <td colspan="12">
          <span>
            <strong>REPORTE DE CASOS QUE AFECTAN LA CONVIVENCIA ESCOLAR </strong>
          <small style="font-size: 0.7em;">CODIGO: CE – 2017 – 126     VERSION: 1     FECHA DE APROBACIÓN: 24/05/2017</small></span>
        </td>
      </tr>

      <tr>
        <td colspan="12">
          <strong>INSTITUCIÓN EDUCATIVA: </strong>        
        </td>
        <td colspan="2">
          <strong>MES: </strong>
        </td>
      </tr>


      <tr>
        <td rowspan="2" colspan="5">
          SITUACIONES QUE AFECTAN LA CONVIVENCIA ESCOLAR
        </td>
        <td rowspan="2" colspan="2">
          N° de casos presentados
        </td>
        <td >
          nivel de escolaridad
        </td>
        <td >
          Tipología
        </td>
        <td rowspan="2" colspan="2">
          ESTRATEGIA UTILIZADA PARA LA ATENCIÓN DEL CASO
        </td>
        <td>
          REMISIÓN DEL CASO
        </td>
        <td rowspan="2">
          ENTIDAD A LA CUAL SE REMITIÓ EL CASO
        </td>
      </tr>

      <tr>
        <td>
          <table border="1" style="width: 100%;">
            <tr>
              <td class="verticalTableHeader">Primaria</td>
              <td class="verticalTableHeader">Secundaria</td>
              <td class="verticalTableHeader">Media</td>
            </tr>
          </table>
        </td>
        <td>
          <table border="1" style="width: 100%;">
            <tr>
              <td align="center">I</td>
              <td align="center">II</td>
              <td align="center">III</td>
            </tr>
          </table>          
        </td>
        <td>
          <table border="1" style="width: 100%; height: 100%;">
            <tr>
              <td class="verticalTableHeader">SI</td>
              <td class="verticalTableHeader">NO</td>
            </tr>
          </table> 
        </td>
        
        
      </tr>
    </tbody>
  </table>

</body>
</html>